:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--main-bg);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.card {
  width: 24%;
  max-height: 72%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImg {
  width: 85%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin: 7% 0;
  background: url("/images/image-equilibrium.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.cardImgOverlay {
  width: 100%;
  aspect-ratio: 1/1;
}

.cardImgOverlay:hover {
  background: hsl(178, 100%, 50%, 0.5) url("/images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
}

.main {
  margin: 0 7%;
  width: 85%;
}

.title {
  color: var(--white);
  font-size: 1.4rem;
  margin-bottom: 5%;
}

.title:hover {
  color: var(--cyan);
  cursor: pointer;
}

.description {
  font-weight: 300;
  line-height: 1.8rem;
  color: var(--soft-blue);
}

.stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
}

.stockPrice {
  flex: 1;
  display: flex;
  color: var(--cyan);
  font-size: 0.9rem;
  align-items: center;
}

.stockPrice > img {
  margin-right: 5px;
}

.time {
  flex: 1;
  display: flex;
  color: var(--soft-blue);
  justify-content: flex-end;
  font-size: 0.9rem;
}

.time > img {
  margin-right: 10px;
}

.divider {
  border: none;
  border-bottom: 1px solid var(--line);
  margin-top: 25px;
}

.credit {
  width: 100%;
  margin: 5% 0 5% 0;
  display: flex;
  align-items: center;
  color: var(--soft-blue);
  font-size: 1.05rem;
}

.credit > img {
  width: 11%;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 10px;
}

.credit > span {
  color: var(--white);
  margin-left: 3px;
}

.credit > span:hover {
  color: var(--cyan);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1024px) {
  .card {
    min-width: 300px;
    max-width: 300px;
  }

  .description {
    font-size: 1rem;
  }
}
